body {
    margin: 0;
    background: white;
    text-align: left;
}

/* Style grid */

.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.grid-item {
    border: 2px solid black;
}
